@media (max-width: 600px) {
  body{
    /* background-color: red; */
  }
  .img-unpaz, .img-curses, .img-work{
    display: none ;
  }
  .box-curse{
    /* border: "1px solid #00C7FF";
    padding: 2px; */
    /* display: flex !important;
    justify-content: start !important; */
  }

  .title-project, .title-estudie{
    font-size: 20px !important;
  }
 
}